.header {
	padding: rem-calc(15 0);
}

.header-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
  width: rem-calc(111);
  height: rem-calc(33);

  @media #{$large-up} {
	  width: rem-calc(137);
	  height: rem-calc(40);
  }
}

.hamburger {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: rem-calc(22);
  width: rem-calc(36);

  @media #{$large-up} {
		display: none;
	}
}

.hamburger-line {
	display: block;
	width: 100%;
	height: 2px;
	background-color: $body-color;
}