.nav-list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-item {
	& + & {
		margin-left: rem-calc(40);
	}
}

.nav-link {
	font-size: rem-calc(18);
	text-transform: uppercase;
}