.nav {
	display: none;
	
	@media #{$large-up} {
		display: block;
	}
}

.nav-list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-item {
	& + & {
		margin-left: rem-calc(35);
	}
}

.nav-link {
	font-size: rem-calc(16);
	text-transform: uppercase;
}