// /* ===========================
// Typography
// =========================== */

$font-family--body: 'Lato', sans-serif;
$font-family--heading: 'EB Garamond', serif;

// /* ===========================
// Color
// =========================== */

$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;

$body-color: $oil;
$white: #fff;
$black: #000;

// /* ===========================
// Heading
// =========================== */

$font-size-h1: rem-calc(46);
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;
